<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springboot.xblogserver.dao.IRoleDao">

    <select id="getRolesByUid" parameterType="Integer" resultType="springboot.xblogserver.domain.Role">
        select r.* from
            roles r, roles_user r_u
        where
            r_u.uid=#{id}
            and r.id = r_u.rid
    </select>
</mapper>